
header {
    text-align: center;
    padding: 10px 0px;
    background:linear-gradient(to right, blue, midnightblue);
    color: mintcream;
}

.w-100 {
    margin: 8px 0px;
}

.btn {
    border-radius: 5px !important;
}

.current-city {
    border: 1px solid black;
    width: 800px;
    margin: 15px 5px;
    padding: 20px;
}

section div {
    background-color: rgb(54, 54, 99);
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}